{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('stylesheets/component-style.css') }}">
{% endblock %}

<div class="container-fluid footer p-2">
    <div class="container">
        <div class="row">
            <div class="col-sm col-md col-lg">
                Site développé avec 
                <a href="https://symfony.com/" title="Symfony" target="blank">
                    <img src="{{ asset('medias/logos-liens/logo-symfony.svg') }}" height="15px">
                </a>
            </div>
            <div class="col-sm col-md col-lg">
                Code source du site disponible sur 
                <a href="https://github.com/valerie-geist/valerie-geist.com" title="Github" target="blank">
                    <img src="{{ asset('medias/logos-liens/logo-github-footer.svg') }}" height="10px">
                </a>
            </div>
            <div class="col-sm col-md col-lg">Icons made by 
                <a href="https://www.flaticon.com/authors/freepik" title="Freepik" target="blank">
                    Freepik
                </a>
                from
                <a href="https://www.flaticon.com/" title="Flaticon" target="blank">www.flaticon.com</a>
            </div>
    </div>
</div>